* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
}
.menu {
    width: 80%;
    margin: 0 auto;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.menu .logo {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .button {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .list {
    width: 700px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 .list-items {
    display: flex;
    list-style: none;
    
}

.items {
    margin-right: 60px;
}

.bottom-nav {
    width: 70%;
    margin: auto;
    
}
.download {
    width: 80%;
    margin: auto;
    height: 500px;
    background-color: red;
}

 .contenuto {
    text-align: center;
}

.contenuto .text {
    padding: 50px 30px;
}


.principal {
    background-color: peru;
}

.principal .content {
    width: 80%;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .img {
    flex-basis: 50%;
    background-color: beige;
}

.content .description {
    flex-basis: 48%;
    background-color: rgb(155, 155, 138);
}

.principal-1 {
    background-color: rgb(170, 141, 112);
}

.principal-1 .content-1 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content-1 .img-1 {
    flex-basis: 48%;
    background-color: beige;
}

.content-1 .description-1 {
        background-color: rgb(155, 155, 138);
        flex-basis: 50%;
}

.bottom-principal {
    background-color: rgb(166, 123, 206);
}

.content .tecnology {
    background-color: rgb(145, 112, 112);
}

.content .pic {
    background-color: rgb(195, 126, 126);
}

.bottom-principal .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bottom-principal .cta {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(145, 112, 112);

}

footer .principal {
    background-color: pink;
}

.col {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.col .column {
    flex-grow: 300;
    background-color: darkmagenta;
}

.col .column-1 {
    flex-grow: 200;
    background-color: rgb(181, 1, 181);
}

.footer, .lista {
    border-top: 5px solid white;
    background-color: pink;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.lista .logo-footer {
    width: 100px;
    height: 100px;
    background-color: rgb(202, 121, 135);
}

.lista .subscribe {
    width: 100px;
    height: 100px;
    background-color: rgb(202, 121, 135);
}














